@keyframes example {
  0% {
    color: white;
  }

  25% {
    color: yellow;
  }

  50% {
    color: darkorange;
  }

  100% {
    color: red;
  }
}

body {
  margin: 0;
  height: 100%;
}

button {
  color: darkred;
  font-size: large;
  font-weight: bold;
  font-family: Magneto;
}

h1 {
  font-family: "Matura MT Script Capitals";
  font-size: 2.45rem;
  animation-direction: alternate;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-name: example;
  animation-timing-function: ease-out;
}

h3 {
  animation-direction: alternate;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-name: example;
  animation-timing-function: ease-out;
}

input {
  border-radius: 5px;
}

input:hover {
  background-color: darkorange;
}

label {
  font-family: "Magneto";
}

.error {
  color: red;
  font-size: 70%;
}

.fields {
  color: white;
  font-family: "Trebuchet MS";
  font-size: 1.2rem;
}

.signup {
  display: flex;
  height: 100%;
  width: 100%;
}

#image {
  background-image: url("Charontech.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}



